.lista{
    list-style: none;
    width: 45%;
    display:inline-flex;
    justify-content: center;
    align-content: center;
    .button:focus{
     box-shadow: none !important;
    }
    
}

.licao{
  margin: 20px;
  font-weight: bold;
  .titulo{
    align-content: center;
    justify-content:center;
  }
}
.titulo{
  position:relative;
  
}
.popBody{
  margin: 10px;
}



