.container {
    width: auto;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    h2{
        font-weight: bold;
        margin:15px;
    }
    .form {
        margin: 10px;
        p{
            margin: 10px;
        }
        .email {
            text-align: center;
        }
        .password {
            text-align: center;
        }
    }
    .Link{
        a{
            color: teal;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
