@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

.Img{
    padding:10px;
    width: 100%;
}
.Txt{
    padding: 20px;
    font-family: 'Karla', sans-serif;
    color: black;
    font-weight: bold;
}
.Opitions{
    cursor:alias ;
    border-width: 1px;
}
.ButtonOp{
    margin-right: 2vw;
}
.TextArea{
    background-color: #f7f7f7;
    border-color: #e5e5e5;
    border-radius: 10px;
    padding: 10px 12px;
    resize: none;
    width:60% !important;
    flex-grow: 1;
    font-family: 'Karla', sans-serif;
    color: black;
    font-weight: bold;
}
.RadioGroup{
    font-family: 'Karla', sans-serif;
    color: black;
    font-weight: bold;
}

.DivTextArea{
    text-align: center;
}
.Button{}

// .Boxinput1{
//     cursor: pointer;
//     height: 50px;
//     text-align: center;
//     text-justify: center;
//     border-radius: 5px;
//     border: solid black;
// }

// .Text{
//     position:absolute;

// }

// .Input1{
//     border-radius: 5px !important;
//     width:100px  !important;
//     height:50px !important;
//     background-color: black !important;
//     padding: 0;
//     margin:0;
// }